@model ProductCreateModel
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <h3 class="mb-3">Create Product</h3>
    <form asp-action="Create" asp-controller="Product" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label asp-for="@Model.ProductName" class="form-label">Product Name</label>
            <input asp-for="@Model.ProductName" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Price" class="form-label">Price</label>
            <input asp-for="@Model.Price" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Description" class="form-label">Description</label>
            <input asp-for="@Model.Description" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="@Model.SelectedCategoryId" class="mb-3 mt-3">Select Category</label>
            <select class="form-control" asp-for="@Model.SelectedCategoryId" asp-items="ViewBag.AllCategories">
                <option disabled selected value="">Select Category</option>
            </select>
        </div>
        <button type="submit" class="btn btn-dark mt-5">Create</button>
    </form>
</div>